<!DOCTYPE html>
<html>
     <head>
          <title>CampingIsFun</title>
          <link rel="shortcut icon" href="images/">
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
       

          <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <body>
           <div class="header-outs inner_page-banner" id="home">
            <!-- header -->
            <div class="headder-top">
                <!-- nav -->
                <nav>
                    <div id="logo">
                        <img src="/images/fun.png" alt="CIF logo" height="50">
                        <h1>
                            <a href="/">Camping Is Fun ......</a>
                        </h1>
                    </div>
                  
                    <ul class="menu mt-2">
                         <li class="active">
                            <a href="/">Home</a>
                        </li>
                          <%if(!currentUser){%>
                              <li><a href="/login">Login</a></li>
                              <li><a href="/register">Sign Up</a></li>
                         <%}
                         else{%>
                              <li><a href="#">Signed In As <span style="color: #860f9e"><%=currentUser.username%></span></a></li>
                              <li><a href="/logout">Logout</a></li>
                         <%}%>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
            <!-- //header -->
            <!-- banner -->
            <div class="main-banner">
                <div class="container-fluid">
                    <!--<div class="style-banner ">-->
                    <!--    <h4>Fun and Adventure, With Joyful Camping</h4>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- //banner -->
        
        
          <div class="container">
               <%if(error && error.length>0){%>
                    <div class="alert alert-danger" role="alert">
                         <%=error%>
                    </div>
               <%}%>
               <%if(success && success.length>0){%>
                <div class="alert alert-success" role="alert">
                    <%=success%>
               </div>
               <%}%>
          </div>
 

