<% include ../partials/header%>
<div class="container">
     <div class="row" class="container">
          <h2 style="text-align: center; margin-top:2em">Add New Comment to <strong><%=campground.name %></strong></h2>
          <div style="width: 80%; margin: 25px auto;">
                 <form action="/campgrounds/<%=campground._id %>/comments" method="POST">
                    <div class="form-group  text-center">
                         <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-lg btn-primary"> Submit</button>  
                    </div>
               </form>
          </div>

<div class="goback">
          <a href="/campgrounds/<%=campground._id %>"><img src="../../../images/goback.jpg" width="40">
          <h3>Go back</h3></a>
     </div>
     </div>
     

</div>


<% include ../partials/footer%>